<div class="container">

  <div>
    <button id="goback" mat-icon-button color="accent" routerLink="/marker-list">
      <mat-icon>reply</mat-icon> Voltar
    </button>
  </div>

  <form [formGroup]="markerForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="form-left">

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Latitude</mat-label>
        <input matInput type="number" formControlName="lat" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" formControlName="lng" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Imagem</mat-label>
        <mat-select formControlName="icon">
          <mat-option *ngFor="let image of imageOptions" [value]="image.value">
            <img class="image-icon" src="{{ image.value }}" alt="{{ image.label }}" width="32" height="32">
            {{ image.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button class="button-operation" mat-raised-button color="primary" type="submit"
        *ngIf="this.operation !== 'EDIT'">
        Cadastrar
      </button>
      <button class="button-operation" mat-raised-button color="primary" type="submit"
        *ngIf="this.operation === 'EDIT'">
        Alterar
      </button>
    </div>

    <div class="form-right">
      <legend class="title">
        Indique no mapa onde fica aproximadamente a atração e os campos de
        latitude e longitude serão preenchidos automaticamente *
      </legend>

      <div id="map" *ngIf="apiLoaded | async">
        <google-map #mapContainer [options]="optionsMap" (mapClick)="addMarker($event)"
          (projectionChanged)="onMapReady()">
          <map-marker *ngIf="markerPosition" [position]="markerPosition" [options]="markerOptions"></map-marker>
        </google-map>
      </div>

    </div>
  </form>
</div>