.marker-table {
  width: 100%;
}

.button-container {
  padding-bottom: 2em;
}

#marker-container-list {
  margin: 1em 1em 1em 1em;
}

.filter-container {
  display: flex;
  flex-direction: column;
}
