<div class="container">
  <form [formGroup]="truckForm" (ngSubmit)="onSubmit()" class="form-group">
    <div class="form-left">
      <legend class="title">Conte-nos sobre seu Truck</legend>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Endereço</mat-label>
        <input matInput type="text" formControlName="address" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput type="text" formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select required formControlName="type">
          <mat-option>-- Nenhum --</mat-option>
          <ng-container *ngFor="let type of truckTypes">
            <mat-option [value]="type">{{ type }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <button
        class="button-operation"
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="this.operation !== 'EDIT'"
      >
        Cadastrar
      </button>
      <button
        class="button-operation"
        mat-raised-button
        color="primary"
        type="submit"
        *ngIf="this.operation === 'EDIT'"
      >
        Alterar
      </button>
    </div>

    <div class="form-right">
      <legend class="title">
        Selecione no mapa onde fica aproximadamente o seu Truck e o campo do
        endereço será preenchido automaticamente *
      </legend>

      <div id="map" *ngIf="apiLoaded | async">
        <google-map [options]="optionsMap" (mapClick)="addMarker($event)">
          <map-marker
            *ngIf="markerPosition"
            [position]="markerPosition"
            [options]="markerOptions"
          ></map-marker>
        </google-map>
      </div>

      <input type="hidden" id="txtLatitude" formControlName="lat" />
      <input type="hidden" id="txtLongitude" formControlName="lng" />
    </div>
  </form>
</div>
